.dash {
	padding-top: 20%;
	padding-bottom: 20%;
}

.dash  button {
  margin-right: 20px;
}

.dash .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: linear-gradient(to bottom, #ce0c5c 0, #a80a4b 100%);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.dash .button:hover, .dash .button:focus {
  background: linear-gradient(to bottom, #a90a4c 0, #780736 100%);
}

.dash .button-block {
  display: block;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}