.frm-sign, .frmsign:before, frm.sign:after {
  box-sizing: border-box;
}

.frm-sign a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.frm-sign a:hover {
  color: rgba(0,0,0,0.5);
}

.frm-sign {
  background: linear-gradient(to bottom, #f0f3f5 0, #d1dbe0 100%);;
  /*background: rgba(19, 35, 47, 0.9);*/
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.frm-sign .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.frm-sign .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.frm-sign .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0,0,0,0.5);
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.frm-sign .tab-group li a:hover {
  background: linear-gradient(to bottom, #a90a4c 0, #780736 100%);
  color: #ffffff;
}
.frm-sign .tab-group .active a {
  background: linear-gradient(to bottom, #ce0c5c 0, #a80a4b 100%);
  color: #ffffff;
}

.frm-sign .tab-content > div:last-child {
  display: none;
}

.frm-sign h1 {
  text-align: center;
  color: rgba(0,0,0,0.5);
  font-weight: 300;
  margin: 0 0 40px;
}

.frm-sign label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.frm-sign label .req {
  margin: 2px;
  color: #ce0c5c;
}

.frm-sign label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.frm-sign label.active .req {
  opacity: 0;
}

.frm-sign label.highlight {
  color: rgba(0,0,0,0.8);
}

.frm-sign input, .frm-sign textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none !important;
  background-image: none !important;
  border: 1px solid rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.8);
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
.frm-sign input:focus, .frm-sign textarea:focus {
  outline: 0;
  border-color: rgba(0,0,0,0.8);
}

.frm-sign textarea {
  border: 2px solid rgba(0,0,0,0.5);
  resize: vertical;
}

.frm-sign .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.frm-sign .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.frm-sign .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.frm-sign .top-row > div:last-child {
  margin: 0;
}

/* tem q fazer isso pq o meteor é bugado*/
.frm-sign form > .top-row, .frm-sign form > .field-wrap {
  margin-left: 10px;
  margin-right: 10px;
}  

.frm-sign form > button {
  margin-right: 20px;
}

.frm-sign .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: linear-gradient(to bottom, #ce0c5c 0, #a80a4b 100%);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.frm-sign .button:hover, .frm-sign .button:focus {
  background: linear-gradient(to bottom, #a90a4c 0, #780736 100%);
}

.frm-sign .button-block {
  display: block;
  width: 100%;
}

.frm-sign .forgot {
  margin-top: -20px;
  text-align: right;
}